<div class="container">
  <h1>Edit your snippet</h1>
  <%= form_for @snippet do |f| %>
    <div class="form-group">
      <label>Title</label>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_area :content, :class => "form-control", :rows => 8 %>
    </div>
    <div class="form-group">
      <%= f.submit "Update", :class => "btn btn-default" %>
    </div>
  <% end %>
</div>
